:root{
    --fondo--cards:#B9B4C7;
    --color--bg-nav:#352F44;
    --color--bottons:#FAF0E6;
    --color--text:#ffff;
    --color--text--boton:#352F44;
}
.card{
    background-color: var(--fondo--cards);
}
.btn{
    background-color:var(--color--bottons);
    color: var(--color--text--boton);
    border-color: #faf0e66a;
}

.btn:hover{
    border-color:black;
    color:var(--color--text--boton);
}
/*Estilos cards productos*/
.card img{
    height: 80%;
}
