/*navbar*/
:root{
    --color--bg-nav:#352F44;
    --color--bottons:#FAF0E6;
    --color--text:#ffff;
    --color--text--boton:#352F44;
}
/*color de texto*/
.text_color{
    color: var(--color--text);
}
/*estilos nav*/
.bg_nav{
    background-color: var(--color--bg-nav);
}
/*botones*/
.boton button{
    background-color:var(--color--bottons) ;
    border-color:#faf0e66a;
    color: var(--color--text--boton);
}
.btn:hover{
    background-color:var(--color--bottons);
    color: var(--color--text);
}
.nav-link{
    border-radius: 2rem;
}
.nav-link:hover{
    background-color: var(--color--bottons);
    transition: 5ms;
}
/*estilo carro de compras*/
.fa-solid.fa-cart-shopping{
    color: var(--color--bottons);
}


